/**************************************\
  PLANO
\**************************************/
.plano {
	position: relative; /*Usei para mostrar a referência do filho plano--mais-popular*/
	padding: 10px;
	border: 1px solid #95a4a5;

	font-size: 1.4rem; /*14px*/
}

/*@media(min-width: 800px){
	article{
		width: 30%;
		float: left;
		margin-right: 5%;
	}
}*/

.plano--mais-popular::after{
	position: absolute;
	top:-10px;
	left: -10px;

	padding: 0 10px;

	background-color: #c20303;
	color: #fff;

	font-size: 0.7142em; /* 10px / 14px(fonte do elemento pai (plano)) */
	line-height: 2.5;

	content: "MAIS POPULAR";


}

.plano__cabecalho {
	margin: -10px;
	margin-bottom: 0;

	background-color: #95a4a5;
	color: #fff;

	text-align: center;
	line-height: 2.5;
	font-weight: normal;
	font-size: 2em;
}

.plano__preco {
	margin: 20px 0;	
	text-align: center;
	font-size: 2em;
}

.plano__caracteristicas{
	padding: 0;
	margin: 1.4285em 0; /** 20px / 14px(.plano) = 1.4285**/

	font-size: 1em;
	
	list-style: none;
}

.plano__caracteristicas > li{
	text-align: center;
}

.plano__rodape{
	text-align: center;
}

/**************************************\
  BOTÃO
\**************************************/
.botao{
	display: inline-block;
	padding:0.8em 1.2em;

	background-color: #bbb;
	color: #fff;
	
	line-height: normal;
	font-size: 1em;
	text-decoration: none; 
}

.botao:hover, .botao:focus{
	background-color: #aaa;
	color: #fff;

	text-decoration: none;
}

.botao--assinar, .botao--login{
	background-color: #127d00;
}

.botao--assinar :hover, .botao--assinar :focus,
.botao--login :hover, .botao--login :focus
{
	background-color: #0e6400;	
}

.botao--principal{
	border-radius: 10px;

	background-color: #004b86;


	
}
.botao--principal:hover ,  .botao--principal:focus{
	background-color: #003b6a;
	
}

/**************************************\
  CHAMADA
\**************************************/
.chamada{
	font-size: 1.6rem; /*1.6 x 10 px*/
	text-align: center;
}

.chamada__titulo{
	margin: 0;

	color: #fff;

	font-size: 3.375em; /* 54px / 16*/
	line-height: 0.9;/*Espaço entre as linhas*/
	text-shadow: 1px 1px #313131;  /*Sombra entre as fontes*/
}

.chamada__subtitulo{
	margin: 60px 0;

	color: #fff;

	font-size: 1em;
}

.chamada__acao{
	font-size: 1em;
}

/*Referencia do Bootstrap*/
@media(min-width: 992px){
	.chamada{
		padding-left: 10%;
		padding-right: 10%;

		font-size: 2.2rem;
	}

}

/**************************************\
  DEPOIMENTOS
\**************************************/
.depoimento{
	font-size: 2.2rem /* 22px */
}

@media{min-width:992px}{
	.depoimento{
		padding-left: 15%
		padding-right: 15%

		font-size:2.8rem;
	}

}

.depoimento > blockquote{
	position: relative;
	margin: 0;
	padding:0 60px;

	text-align: center; 

	font-size: 1em;
}

.depoimento > blockquote::before{
	position: absolute;
	left: 0;
	top: -0.35em; /*  62 / 176 =  0.35em */

	color: #ccc;

	font-size: 8em; /* 22*8 = 176px */

	content: "\201C" /* https://en.wikipedia.org/wiki/List_of_Unicode_characters#Unicode_symbols */
}



.depoimento__autor{
	margin-top: 40px;

	text-align: center;
	font-size:0.7272em; /* 16px / 22 = 0.7272*/
}

.depoimento__autor > img{
	border-radius: 50%; /*Transformo a imagem em circulo*/
}

.depoimento__autor > p{
	margin-top: 10px;
}



/**************************************\
  NAVEGAÇÃO
\**************************************/
.navegacao{

}

.navegacao > img{
	margin-top:10px;

}

.navegacao__menu{
	float: right;

}


/**************************************\
  BOTÃO-CHAVEADOR
\**************************************/
.botao-chaveador{
	width: 24px;
	height: 24px;
	border: 0;

	
	background: none;
	background-image: url("../imagens/bars.png");

	outline: none;/* Arranca a borda que foi colocada pelo navegador*/

}

@media(min-width: 992px){
	.botao-chaveador{
		display: none;
	}
}

/**************************************\
  MENU
\**************************************/

.menu{
	margin:0;

	font-size: 1.4rem;

	list-style: none;
}

.menu__item >a{
	text-decoration: none;
}

@media(max-width: 991px){

	.menu{
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;

		display: none;
		width: 200px;
		padding: 20px;
		border-right: 1px solid #eee;

		background-color: #fbfbfb;

	}

	.menu--exibindo{ /* Classe de estado*/
		display: block;
	}

	.menu__item{
		display: block;

		line-height: 3; /*3x o tamanho da fonte */
	}

	.menu__item--botao{
		margin-top:20px;
	}
}

@media(min-width: 992px){

	.menu__item{
		display: inline-block;
		padding-right: 20px;
	}

	.menu__item:last-of-type{
		padding-right: 0px;
	}

}



